.App {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 11, 33, 0.15);
  border-radius: 32px;
  padding-top: 79px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.01em;
  color: #11175E;
  margin-bottom: 32px;
}

hr {
  border: 1px solid #EEE;
  background: #eee;
  margin-bottom: 24px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.01em;
  font-feature-settings: 'liga' off;
  color: #B1BACB;
}

footer button {
  border: none;
  outline: none;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}